<div class="d-flex justify-content-center">
  <form style="width: 50%">
    <div class="row">
      <div class="col-md-6 mt-2">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" />
      </div>

      <div class="col-md-6 mt-2">
        <label for="sexo" class="form-label">Seu sexo</label>
        <select class="form-select" aria-label="Sexo">
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Não Especificado">Não Especificado</option>
        </select>
      </div>

      <div class="col-md-6 mt-2">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" />
      </div>

      <div class="col-md-6 mt-2">
        <label for="dat_nasc" class="form-label">Data de Nascimento</label>
        <input type="text" class="form-control" id="dat_nasc" />
      </div>

      <div class="col-md-6 mt-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" />
      </div>

      <div class="col-md-6 mt-2">
        <label for="phone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="phone" />
      </div>
    </div>

    <div class="col-12 mt-2">
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
  </form>
</div>
