<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{ cliente.id }}</th>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.phone | phone }}</td>
        <td>
          <div class="btn-group acoes" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-primary"
              (click)="visualizarCliente(cliente)"
            >
              <i class="bi bi-eye-fill"></i> Visualizar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="editarCliente(cliente)"
            >
              <i class="bi bi-pencil-fill"></i> Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletarCliente(cliente)"
            >
              <i class="bi bi-trash-fill"></i> Excluir
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
